

body {
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    padding: 0; 
    margin: 0;
}

#wrapper {
    margin-top: 10px;
    width: 90%; 
    margin-right: auto;
    margin-left: auto;

}


header h1 {
    text-align: right; 
    font-size: 25px; 
    margin-bottom: 5px; 
}

header h2 {
    margin-top: 0px;
    margin-bottom: 30px; 
    text-align: right;
    font-size: 20px; 
    color: darkgrey; 
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px; 
    text-align: left; 
    font-size: 20px; 
    color: darkgrey;
}

header img {
    margin-top: 50px;
    width: 100%; 
}

nav {
    margin-top: 50px;
    margin-left: 50px; 
    line-height: 30px;
    display: grid; 
    grid-template-columns: 60% 1fr; /* 60% and one fraction */
}

.menu1 { /* creates flex box */ 
    display: flex; 
}


.menu1 { /* in the flex box we just created, changes elements */
    display: flex; /* block; creates blocks of content wtihin the flex box*/
    justify-content: space-around; /* creates space */
    background: white; 
    align-items: center;
    padding-top: 20px;
} 

.logo {
    text-align: left; 
    width: 110px;
    height: 60px; 
    padding-bottom: 60px;
    
}


nav a {
    text-decoration: none;
    color: black; 

}

nav a:hover {
    color: darkgrey;
}

section {
    margin-bottom: 30px;
    text-align: justify; 
}

article p:last-child { /* */
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px; 
    color: darkgrey; 
}

footer {
    margin-top: 20px; 
    min-height: 30px; 
    font-size: 10px; 
    font-weight: lighter; 
    text-align: right;
    font-style: italic; 
}

footer a {
    text-decoration: none;
    color: black;
}

.books {
    display: grid; 
    grid-template-columns: repeat(12,fr);
    /*grid-template-columns: auto auto auto; */
    gap: 10px; /* gutter size between grid rows and columns */
    margin: 0; 
    padding: 0; 
}

.books figure{
    position: relative; 
    display: inline-block; 
    cursor: pointer; 
}

.im { /* create image class */
    width: 100%; 
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    box-sizing: border-box; 
    display: block; 
}

/* address each individual image for masonry grid */
.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7; 
    grid-row: 1 / 3;
}

.im3 {
    grid-column: 7 / 13; 
    grid-row: 1 / 6; 
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3 / 6; 
}

.im5 {
    grid-column: 4 / 7; 
    grid-row: 3 / 5; 
}

.im6 {
    grid-column: 1 / 7; 
    grid-row: 5 / 9; 
}

.im7 {
    grid-column: 7 / 10; 
    grid-row: 5 / 7; 
}

.im8 {
    grid-column: 10 / 13; 
    grid-row: 5 / 7; 
}

.im9 {
    grid-column: 7 / 10;  
    grid-row: 7 / 9; 
}


.im10 {
    grid-column: 10 / 13; 
    grid-row: 7 / 9; 
}


.im11 {
    grid-column: 10 / 13; 
    grid-row: 5 / 7; 
}

.im12 {
    grid-column: 4 / 7; 
    grid-row: 9 / 11; 
}

.social {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 20px 0; 
    color: gray;
}

.social .fa {
    font-size: 30px;
    padding: 12px;
    color: gray; 
}

/*start comment 
.books img {
    display: block;
    width: 100%; 
    height: auto; 
}

.books > div { /* styling the direct child of the div 
    text-align: center; 
    padding: 10px;
}

.books figure { /* targets figure tags in the books div 
    margin: 0; 
}

table img {
    max-width: 100%; 
    max-height: 100%; 
}

.books {
    display: grid; 
    grid-template-columns: repeat(12,fr);
    /*grid-template-columns: auto auto auto;
    gap: 0px; /* gutter size between grid rows and columns 
    margin: 0; 
    padding: 0; 
}

/* end comment */

article figure figcaption { 
    margin-top: 5px; 
    font-size: 12px; 
}



@media (max-width: 600px) {
    nav {
        margin: 0 auto; 
        margin-bottom: 50px; 
        width: 100%; 
        padding: 20px 0; 
        line-height: 10px;
        position: relative; 
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        background: black;
        z-index: 1000; 
        color: white;
        float: none; 
    }

    nav a {
        color: white; 
    }

    .wrapper {
        margin-top: 500px; 
        position: relative; 
        width: 50%;
        margin: 0 auto; 
        float: none; 
        line-height: 150%; 
    }

    main {
        text-align: justify;
    }
    .book {
        grid-template-columns: auto auto; 
        gap: 16px; 
    }
    .book figcaption {
        font-size: smaller; 
    }
}